<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Recipe Book</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <script src="recipe.js"></script>
</head>

<body>
    <img class="bg" src="kitchen_pattern.png" alt="kitchen_image">
    <div class="real-body">
        <div class="heading">
            <h1><strong>My Recipe Book!  </strong></h1>
            <p><strong>            
                An error occurred!
            </strong></p>
        </div>
        <p><%- error %></p>
        </br>
        <%- homeWebpage %>
    </div>
</body>
</html>