<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Recipe Book</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <script src="recipe.js"></script>
</head>

<body>
    <img class="bg" src="kitchen_pattern.png" alt="kitchen_image">
    <div class="real-body">
        <div class="heading">
            <h1><strong>Welcome to My Recipe Book!  </strong></h1>
            <p><strong>            
                Serach for a term and find delicious recipes to save!
            </strong></p>
        </div>

        <form action="results.html" method="POST" class="searchform">
            Username: &nbsp;&nbsp;&nbsp;<input type="text" name="username" placeholder="Enter username..." class="inputs"/><br>
            Search Term: <input type="text" name="queryTerm" placeholder="ie. Curry" class="inputs"/><br>
            <input type="submit" value="Search" class="submit-button"/>
        </form>
    </div>
</body>
</html>