<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Recipe Book</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <script src="recipe.js"></script>
</head>

<body>
    <img class="bg" src="kitchen_pattern.png" alt="kitchen_image">
    <div class="real-body">
        <div class="heading">
            <h1><strong>Welcome to My Recipe Book!  </strong></h1>
            <p><strong>            
                Save recipes in your own personal recipe book!
            </strong></p>
        </div>
        <a href="search_page.html"><button id="search" class="index-button">Find Recipes</button></a><br><br>
        <a href="recipebook.html"><button id="recipebook" class="index-button">My Recipes</button></a>

    </div>
</body>
</html>