<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Recipe Book</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <script src="recipe.js"></script>
</head>

<body>
    <div class="heading">
        <h1> My Recipe Book </h1>
        <p>
            Click on a recicpe to open it!
        </p>
    </div>
    
    <div class="recipebook">
        This part will be done with node
        Sample format: 
        <ul class="recipelist">
            <li><a href="https://www.cookingclassy.com/chicken-curry/">Chicken Curry</a></li>
        </ul>
    </div>
    <a href="index.html">Home</a>
</body>
</html>