<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Recipe Book</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <script src="recipe.js"></script>
</head>

<body>
    <img class="bg" src="kitchen_pattern.png" alt="kitchen_image">
    <div class="heading">
        <h1> My Recipe Book </h1>
        <p>
            Click on a recipe to open it!
        </p>
    </div>
    
    <div class="recipebook">
        <ul>
            <%- recipeList %>
        </ul>
    </div>
    <%- homeWebpage %>
</body>
</html>