<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Recipe Book</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <script src="recipe.js"></script>
</head>

<body>
    <img class="bg" src="kitchen_pattern.png" alt="kitchen_image">
    <div class="heading">
        <h1> Recipe Results based on <%- searchTerm %> </h1>
        <p>
            Check off recipes you want to save 
        </p>
    </div>
    
    <form action="/viewRecipeBook" method="POST" class="recipeform">
        <ul>
            <%- recipeResults %>
        </ul>
        <input type="submit" value="Save" class="submit-button"/>
    </form>
    <%- homeWebpage %>
</body>
</html>